body {
	font-family: 'Open Sans', sans-serif;
	display: block;
    margin: 0;
    padding: 0;
    background: #f8f8ff;
}

.main-container {
	padding: 10px 15px 30px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	background-color: #fff;
	background-image: url('/images/odm-logo-15.png');
	background-repeat: no-repeat;
	background-position: -200px -200px;
}

.main-container > div {
	padding: 15px 15px 0 15px;
}

.uploader-container {
    flex: 2;
	overflow: hidden;
}

.options-container {
    flex: 1;
	overflow: hidden;
}

.line {
	background-color:  #eee;
	height: 1px;
	margin: 9px 0;
	display: block;
}

.space-tiny {
	height: 2px;
	display: block;
}

.space-small {
	height: 5px;
	display: block;
}

.space-medium {
	height: 18px;
	display: block;
}

#emails {
    width: 100%;
    display: block;
}

.options-title {
    display: block;
    width: 100%;
	margin: 5px 0;
	font-weight: bold;
}

.options-title-data {
	font-weight: normal;
}

.options-notes {
    display: block;
    width: 100%;
	margin: 5px 0;
	font-size: 12px;
	color: #888;
}

.multiple_emails-container {
	background-color: #fff;
}

.multiple_emails-container ul {
    margin: 0;  
    font-size: 14px; 
}

.multiple_emails-container .email_name {
	display: block;
	overflow: hidden;
}

.multiple_emails-email {
	margin: 3px;
	padding: 3px;
}

.multiple_emails-container input {
	font-size: 14px;
    padding: 0 5px 2px 5px;
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
        url('/fonts/glyphicons-halflings-regular.woff') format('woff'), 
        url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
        url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-remove:before {
    content: "\e014";
}

h1 {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 5px 0;
    /* background-color: #eeeeff; */
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	font-size: 14px;
	line-height: 20px;
    background: #f8f8ff;
	margin: 0px 0 0 0;
    padding: 15px 15px;

	border-top: 1px solid #dde; 
}

.footer > div {
	flex: 1;
	padding: 0 15px;
}

.border-left {
	border-left: 1px solid #dde; 
}

@media only screen and (max-width: 768px) {
	.main-container {
		flex-direction: column;
	}
}

.disabled {
	color: #ccc;
}

#drive-profile-image {
	width: 50px; 
	height: 50px; 
	border-radius: 50%; 
	position: absolute; 
	right: 0;
	pointer-events: none;
	display: none;
}

#drive-folder-id {
	width: 100%;
}

.flex-break {
	flex-basis: 100%;
	height: 0;
}

.flex-general-margin {
	flex: 0.5;
}

.flex-general-contents {
	flex: 2.5;
	max-width: 1200px;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.form-row label {
	display: block
}
.form-row input[type=text], input[type=email], input[type=password] {
	display: block;
	width: 100%;
}
.errors {
	color: #ff0000;
	font-size: 12px;
}

/* .button {
	background: #678fe0;
	border: 0;
	color: #fff;
	cursor: pointer;
	clear: both;
	display: inline-block;
	font-size: 12px;
	margin: 0 10px 0 0;
	padding: 8px 12px;
}

.button:active {
	background: #476fc0;
}

.button:disabled {
	background: #aaaaaa;
	color: #eeeeee;
	cursor: default;
}
*/

.button {
	font-size: 12px;
	margin: 0 3px 0 0;
	padding: 0 10px;
	height: 30px;
	color: #000;
	border-radius: 5px;
	border: 1px solid #bbb;
	background-color: #fffa;
	display: inline-block;
}

.button:hover {
	background-color: #eeea;
}

.button:active {
	background-color: #ddda;
}

.button:disabled {
	background-color: #ddd;
	color: #999;
	cursor: default;
}

.button-large {
	font-size: 16px;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin: 10px 10px 0 0;
}

.google-signin-button {
	background-image: url("/images/google-signin/btn_google_signin_border_normal_web@2x.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	color: transparent;
	border: none;
	height: 35px;
	width: 145px;
	margin: 0 1px 0 0;
}

.google-signin-button:hover {
	background-color: transparent;
	color: transparent;
}

.google-signin-button:focus {
	background-image: url("/images/google-signin/btn_google_signin_border_focus_web@2x.png");
	background-color: transparent;
	color: transparent;
}

.google-signin-button:active {
	background-image: url("/images/google-signin/btn_google_signin_border_pressed_web@2x.png");
	background-color: transparent;
	color: transparent;
}

.google-signin-button:disabled {
	background-image: url("/images/google-signin/btn_google_signin_border_disabled_web@2x.png");
	background-color: transparent;
	color: transparent;
}

.settings-suboptions {
	margin-left: 22px;
	margin-top: 5px;
}

.settings-subgrouped {
	border-left : 10px solid #ccccff;
	padding-left: 10px;
	margin-left: 22px;
	margin-top: 9px;
}

