google-api-python-client 
google-auth-httplib2
google-auth-oauthlib
boto3
python3-ghostscript
camelot-py
opencv-python-headless
easydict
pyyaml
pandas
requests
argparse
geojson-rewind
Shapely
geomet
pycel
networkx
